{% extends "base.html.twig" %}

{% block title %}Roles{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <h1>Role Form</h1>
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" name="submit" value="Save" class="btn waves-effect waves-light ">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
