{% extends 'base.html.twig' %}
{% block titulo_operacion %}Sucursales {% endblock %}
{% block breadcrumbs %}
        <li><a href="#">Inicio</a></li>
        <li class="active">Sucursales</li>
{% endblock %}
{% block body %}



    <table class="striped">
        <thead>
            <tr>
                <th>Sucursal</th>
                <th><a class="btn-floating waves-effect waves-light green darken-1" type="button" href="{{path('sucursal_new')}}"><i class="material-icons">add</i></a></th>
            </tr>
        </thead>
        <tbody>
            {% for sucursal in sucursales %}
                <tr>
                    <td>{{sucursal.sucursal}}</td>
                    <td><a type="button" class="btn-floating waves-effect waves-light cyan" href="{{path('sucursal_edit',{'id_sucursal':sucursal.idSucursal})}}"><i class="material-icons" aria-hidden="true">mode_edit</i></a>
                    <a type="button" class="btn-floating waves-effect waves-light red" href="{{path('sucursal_delete',{'id_sucursal':sucursal.idSucursal})}}"><i class="material-icons" aria-hidden="true">clear</i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}