{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a class="waves-effect waves-light  btn" onclick="saveNotification('aledaas', 'aledaas', 'warning', 'noread', 'icono', 'el titulo', 'las mejores intensiones')"><i class="material-icons right">gps_fixed</i> Notificar</a>
         </div>
    </div>
{% endblock %}