{% extends 'base.html.twig' %}

{% block titulo_operacion %}Rutas{% endblock %}
{% block breadcrumbs %}
        <li><a href="#">Inicio</a></li>
        <li class="active">Rutas</li>
{% endblock %}
{% block body %}
    <div class="container">
            <div class="card-panel">
            <table class="Highlight responsive-table bordered">
                    <thead>
                    <tr>
                        <th>Rol</th>
                        <th></th>
                    </tr>
                    </thead>
                <tbody>
                    {% for rol in roles %}
                        <tr>
                            <td>{{rol.role}}</td>
                            <td>
                                {% if has_permission('producto_edit') %}<a type="button" href="{{path('route_edit',{'_id_role':rol.id})}}">Configurar Rutas</a>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>            
{% endblock %}

