{% extends 'base.html.twig' %}

{% block titulo_operacion %}Productos{% endblock %}
{% block body %}
    <table class="table table-bordered">
        <thead class="table_head">
            <tr>
                <th>Producto</th>
                <th><a type="button" class="btn btn-sm btn-success" href="{{path('producto_new')}}"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{producto.producto}}</td>
                    <td><a type="button" class="btn btn-sm btn-warning" href="{{path('producto_edit',{'id_producto':producto.idProducto})}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a type="button" class="btn btn-sm btn-danger" href="{{path('producto_delete',{'id_producto':producto.idProducto})}}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}