
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a href="index.html" class="brand-logo darken-1">
                <!--  <img src="../{{ asset('img/logo_urbano.png') }}"  alt="logo">-->
                <span class="logo-text hide-on-med-and-down">Urbano</span>
            </a>
            <a href="#" class="navbar-toggler">
                <i class="material-icons">radio_button_checked</i>
            </a>
        </h1>
    </div>
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
                {% for modulo in item.children %}
                    <li class="bold">
                        <a class="collapsible-header waves-effect waves-cyan">
                            <i class="material-icons">dashboard</i>
                            <span class="nav-text">{{modulo.label|upper}}</span>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                {% for submodulo in modulo.children %}
                                    <li class="{% if app.request.attributes.get('_route') == submodulo.attributes['route'] and
                                        app.request.attributes.get('_route_params') == submodulo.attributes['params']  %}active{% endif %}">
                                        <a href="{{submodulo.uri}}">
                                            <i class="material-icons">keyboard_arrow_right</i>
                                            <span>{{submodulo.label|upper}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
        <i class="material-icons">menu</i>
    </a>        
</aside>
        

